.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button{
  width: 50px;
}

.thisPlayer {
  background-color: red;
  z-index: 1000;
}
.otherPlayer {
  background-color: green;
}